<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
    <title></title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
    <section class="content-header">
        <h1>管理首页</h1>
        <small></small>
        <ol></ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="box box-info">
                <div class="box-header with-border"><h3 class="box-title">引擎设置</h3></div>
                <h th:text="${session.userContext.manName}"></h>

            </div>
        </div>
    </section>

</div>
<div style="display: none;" layout:fragment="script">
<script type="text/javascript" th:inline="JavaScript">
/*<![CDATA[*/





/*]]>*/
</script>
</div>
</body>
</html>
